@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Quicksand", sans-serif;
  --font-dynapuff: "DynaPuff", cursive;
  --color-maroon-50: #fdf2f2;
  --color-maroon-100: #f9d6d6;
  --color-maroon-200: #f0adad;
  --color-maroon-300: #e67a7a;
  --color-maroon-400: #d94a4a;
  --color-maroon-500: #cc0000;
  --color-maroon-600: #a30000;
  --color-maroon-700: #800000;
  --color-maroon-800: #660000;
  --color-maroon-900: #4d0000;
  --color-maroon-950: #330000;
}
